@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.monserrat {
    font-family: "Montserrat", Arial;
}

.geist {
    font-family: "Geist", Arial;
}