.numbers {
    background: linear-gradient(-235deg, #E97511 40%, #714da6 90%);
}

.numbersText {
    background: linear-gradient(-235deg, #E97511 40%, #714da6 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* opcional */
}

.conicGradient {
    background: conic-gradient(from 90deg at 50% 50%, #0C0C0C 0deg, #B1B1B1 100deg, #f8f8f8 360deg);
    mix-blend-mode: color-dodge;
}

.conicGradient2 {
    background: conic-gradient(from 90deg at 50% 50%, #F8F8F8 0deg, #0C0C0C 6deg, #B1B1B1 356deg, #F8F8F8 360deg);
    mix-blend-mode: color-dodge;
}

.sobreposicao {
    background: linear-gradient(180deg, #08081E 0%, rgba(8, 8, 30, 0) 68.29%, #08081E 100%);
}

/* teste background */

.teste2 {
    background: linear-gradient(180deg, #08081E 0%, rgba(8, 8, 30, 0) 68.29%, #08081E 100%);
}

.teste {
    background: conic-gradient(from 90deg at 50% 50%, #0C0C0C 0deg, #B1B1B1 100deg, #f8f8f8 360deg);
    mix-blend-mode: color-dodge;
}

.testeoff {
    background: conic-gradient(from 90deg at 50% 50%, #F8F8F8 0deg, #0C0C0C 6deg, #B1B1B1 356deg, #F8F8F8 360deg);
    mix-blend-mode: color-dodge;
}