.numbers {
    background: linear-gradient(-235deg, #E97511 40%, #714da6 90%);
}

.numbersText {
    background: linear-gradient(-235deg, #E97511 40%, #714da6 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* opcional */
}

/* background */

.conicGradient,
.conicGradient2 {
    backface-visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.sobreposicao {
    background: linear-gradient(180deg, #08081eb4 0%, rgba(8, 8, 30, 0) 68.29%, #08081eb4 100%);
}

.conicGradient {
    background: conic-gradient(from 90deg at 50% 50%, #F8F8F8 0deg, #0C0C0C 6deg, #B1B1B1 100deg, #F8F8F8 360deg);
    mix-blend-mode: color-dodge;
}

.conicGradient2 {
    background: conic-gradient(from 90deg at 50% 50%, #F8F8F8 0deg, #0C0C0C 6deg, #B1B1B1 356deg, #F8F8F8 360deg);
    mix-blend-mode: color-dodge;
}