.customShapeDivider {
    width: 100%;
    overflow: hidden;
}

.customShapeDivider svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 150px;
}

.shapeFill {
    fill: #E4E4E7;
}