@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes slideLight {
    0% {
        transform: translateX(-250%) rotate(20deg) translateY(-25%);
    }

    60% {
        transform: translateX(110vw) rotate(20deg) translateY(-25%);
    }

    100% {
        transform: translateX(110vw) rotate(20deg) translateY(-25%);
        /* pausa */
    }
}

.feixe {
    animation: slideLight 10s linear infinite;
}

.monserrat {
    font-family: 'Montserrat', sans-serif;
}