@keyframes slideLight {
    0% {
        transform: translateX(-250%) rotate(20deg) translateY(-25%);
    }

    60% {
        transform: translateX(110vw) rotate(20deg) translateY(-25%);
    }

    100% {
        transform: translateX(110vw) rotate(20deg) translateY(-25%);
        /* pausa */
    }
}

.feixe {
    animation: slideLight 10s linear infinite;
}