@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

::-webkit-scrollbar {
    width: 0.2vw;
    background: #B9D19D;
}

::-webkit-scrollbar-thumb {
    background-color: #CCB596;
}

html,
body {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    user-select: none;
}